@font-face {
    font-family: 'Manteka';
    src: url('manteka.ttf');
}

@font-face {
    font-family: 'Nexa';
    src: url('nexa-bold.otf');
}

body {
    font-family: 'Manteka', sans-serif;
    font-size: 1.2em;
    background-color: #e67e22;
    color: #ffffff;
}

header {
    padding-top: 100px;
}

a {
    text-decoration: none;
}

#horay {
    font-size: 2em;
}

.horay {
    font-family: 'Nexa', sans-serif;
    margin-top: 100px;
    line-height: 30px;
}

.desc {
    margin-top: 100px;
}

.code {
    margin-left: 80px;
    line-height: 30px;
    font-size: 1.5em;
}

footer {
    margin-top: 100px;
    padding: 30px;
    background: #d35400;
}

footer a {
    color: #ffffff;
}

footer a:hover {
    color: #ffffff;
}