#header {
    background-color: #1d1d1d;
    color: #ffffff;
    padding: 15px;
}

#header h3 {
    color: #ffffff;
}

#content {
    padding: 15px;
}

.code {
	background-color: #d1d1d1;
	padding: 5px;
}

#footer {
    background-color: #1d1d1d;
    color: #ffffff;
    padding: 15px;
}